/**
 * Default
 */
[body-bg] {
  background: radial-gradient(center, circle cover, #f8f8f8 0%, #e6e6e6 100%);
}
[layout] {
  line-height: 1.5;

  color: #222;
  box-shadow: 0 0 10px transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[layout][invert] {
  color: #fff;
}

[layout][backface][invert] {
  text-shadow: 1px 1px 3px #222;
}

[layout] > * {
  margin: 30px 100px;
}

[layout] h1,
[layout] h2,
[layout] h3,
[layout] h4,
[layout] h5,
[layout] h6 {
  text-align: center;
  font-family: "Lato", sans-serif;
}

[layout] h1 {
  font-size: 4.8em;
}

[layout] h2 {
  font-size: 3.6em;
}

[layout] h3 {
  font-size: 2.4em;
}

[layout] p {
  font-size: 2.0em;
}

[layout] a {
  color: dodgerblue;
  text-decoration: none;
}

[layout] em {

}

[layout] strong {
  font-weight: bold;
}

[layout] ul,
[layout] ol {
  font-size: 1.8em;
  text-align: left;
  list-style-type: none;
}

[layout] li {
  margin-bottom: 0.5em;
}

[layout] [hero-image] {

}

[layout] pre {
  font-size: 1.6em;
}
