[layout=bullets] {
}

[layout=bullets] h1,
[layout=bullets] h2,
[layout=bullets] h3,
[layout=bullets] h4,
[layout=bullets] h5,
[layout=bullets] h6 {
  line-height: 1.3;
  margin-top: -30px;
}

[layout=bullets] ul,
[layout=bullets] ol {
  list-style-type: disc;
}

[layout=bullets] li {
  margin-right: -1em;
}

[layout=bullets] ul ul,
[layout=bullets] ul ol,
[layout=bullets] ol ul,
[layout=bullets] ol ol {
  list-style-type: none;
  font-size: 0.9em;
  margin: 0.5em 0 0.5em 2em;
}
