[body-bg=code] {
  background: radial-gradient(center, circle cover, #262626 0%, #080808 100%);
}

[layout=code] {
}

[layout=code] h1,
[layout=code] h2,
[layout=code] h3,
[layout=code] h4,
[layout=code] h5,
[layout=code] h6,
[layout=code] p {
  color: white;
}

[layout=code] .hljs {
  font-family: Consolas, Monaco,'Andale Mono',monospace;
  background-color: transparent;
}

[layout=code] .hljs-comment {
  color: orange;
  line-height: 1;
}
