@import url(./reset.css);
@import url(./layout.css);

html, body {
  overflow: hidden;
  color: #222;
  background-color: #111;
  font-family: "Open Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

body > * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

#next, #prev {
  cursor: pointer;
}

#progress {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.1em;
  background-color: hotpink;
  transition: width .3s ease;
}

#control {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  padding: 20px;
  color: hotpink;
  font-family: Consolas,Monaco,'Andale Mono',monospace;
}

#scaler {
  /* width & height automatically set by ratio module */
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform: scale(1);
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
}

#scaler[style] {
  display: block;
}
