@import url(./reset.css);
@import url(./layout.css);
@import url(./layout-util.css);

html, body {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

body > * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

#next, #prev {
  cursor: pointer;
}

#pointer {
  visibility: hidden;
  position: absolute;
  z-index: 5;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  background-color: hotpink;
  opacity: .66;
  cursor: none;
}

#progress {
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.2em;
  background-color: darkgray;
  transition: width .3s ease;
}

#control {
  position: fixed;
  z-index: 3;
  bottom: 0;
  right: 0;
  padding: 20px;
  color: hotpink;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

#scaler {
  /* width & height automatically set by ratio module */
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transform: scale(1);
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
}

#scaler[style] {
  display: block;
}

#backface {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  opacity: 0;
  transition: opacity 1.2s ease;
}

#backface[style] {
  opacity: 1;
}
