/**
 * Common display controls
 */
[body-bg] {

}

[layout] {
  /* width & height are set automatically by the script execution */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;

  opacity: 0;
  transition: opacity .5s ease;
}

[layout][visible] {
  opacity: 1;
  z-index: 1;
}

[layout][backface] {
  background-color: transparent;
}

[layout][scroll] pre {
  overflow-y: scroll;
}

/**
 * Layout definitions
*/
@import url(layout/_default.css);
@import url(layout/bullets.css);
@import url(layout/bullets-invert.css);
@import url(layout/code.css);
@import url(layout/cover.css);
@import url(layout/title.css);
