/**
 * Base layout
 */
[layout] {
  display: none;
  position: relative;
  width: 1024px;
  height: 768px;
  padding: 20px;
  background-color: #fafafa;
  box-shadow: 0 0 10px transparent;
}

[wide] [layout] {
  width: 1366px;
  height: 768px;
}

[layout][visible] {
  display: block;
}

[layout] h1,
[layout] [title] {

}

[layout] h2,
[layout] [subtitle] {

}

[layout] p,
[layout] [paragraph] {

}

[layout] ul,
[layout] ol,
[layout] [bullets] {

}

[layout] ul > li
[layout] ol > li
[layout] [bullets] > * {

}

[layout] img,
[layout] [image] {

}

[layout] .background,
[layout] [background] {
  position: absolute;
  top: 0;
  left: 0;
}

[layout] pre,
[layout] [code] {
  background-color: #23241f;
}

/**
 * Master layouts
 */
@import url(./layouts/bullets.css);
