[data-body-bg] {
  background: radial-gradient(#f8f8f8 0%, #e6e6e6 100%);
}

[data-body-bg][invert] {
  background: radial-gradient(#262626 0%, #080808 100%);
}

[layout] {
  line-height: 1.5;

  color: #222;
  box-shadow: 0 0 10px transparent;

  font-family: "NotoSansCJKjp-Light", "Open Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[layout][invert] {
  color: #fff;
}

[layout] > * {
  margin: 30px 100px;
}

[layout] h1,
[layout] h2,
[layout] h3,
[layout] h4,
[layout] h5,
[layout] h6 {
  text-align: center;
  font-family: "Lato", "Hiragino Mincho ProN", serif;
}

[layout] h1 {
  font-size: 4.8em;
}

[layout] h2 {
  font-size: 3.6em;
}

[layout] h3 {
  font-size: 2.4em;
}

[layout] p {
  font-size: 2.0em;
}

[layout] a:link,
[layout] a:visited,
[layout] a:hover,
[layout] a:active {
  color: dodgerblue;
  text-decoration: none;
}

[layout][invert] a:link,
[layout][invert] a:visited,
[layout][invert] a:hover,
[layout][invert] a:active {
  color: #33ffff;
}

[layout] em {
  font-size: 0.5em;
  font-style: normal;
}

[layout] strong {
  font-weight: bold;
}

[layout] table {
  border-collapse: collapse;
}

[layout] th,
[layout] td {
  padding: 1em;
  font-size: 2.0em;
  font-weight: normal;
  border: 1px solid #222;
}

[layout][invert] th,
[layout][invert] td {
  border-color: #fff;
}

[layout] ul,
[layout] ol {
  font-size: 1.8em;
  text-align: left;
  list-style-type: none;
}

[layout] ul ul,
[layout] ul ol,
[layout] ol ul,
[layout] ol ol {
  font-size: 1em;
}

[layout] li {
  margin-bottom: 0.5em;
}

[layout] del {
  opacity: 0.5;
}

[layout] video,
[layout] img {
  max-width: 100%;
}

[layout] blockquote {
  position: relative;
  font-style: italic;
  opacity: .6
}

[layout] blockquote::before {
  position: absolute;
  top: -0.6em;
  left: -0.6em;
  font-size: 5em;
  content: "\"";
}

[layout] pre {
  font-size: 1.6em;
}

[layout] code {
  padding: 0.1em 0.2em;
  background: #fff;
  border: 1px solid #999;
}

[layout][invert] code {
  background: #222;
}

[layout] pre code {
  padding: inherit;
  background: inherit;
  border: inherit;
}
